@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	width: 500px;
	margin: 50px auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 5px;
	border: 1px solid #505050;
    border-bottom: 3px solid #505050;
    height: 560px;
}

.form input, .form select {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
    border: 1px solid #d2d2d2;
}

a:link.launcher {
    width: 100% !important;
    display: block;
    text-align: center;
    text-decoration: none;
}

.form button, a:link.launcher {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #526db8;
	width: 100%;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
    border: 1px solid #3b508a;
}

.form button:hover, .form button:active, .form button:focus,
a:hover.launcher, a:active.launcher, a:focus.launcher {
	background: #435996;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #526db8;
	text-decoration: none;
}

.form .register-form {
	display: none;
}

.server_reply {
	text-align: left;
    font-size: 14px;
	border-bottom: 2px solid #d2d2d2;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.server_reply .commands {
	border: 1px solid #c5c5c5;
    background: #fdfdfd;
    border-radius: 5px;
    padding: 10px;
}

body {
	/*background: #526db8;
	background: -webkit-linear-gradient(right, #526db8, #976fc2);
	background: -moz-linear-gradient(right, #526db8, #976fc2);
	background: -o-linear-gradient(right, #526db8, #976fc2);
	background: linear-gradient(to left, #526db8, #976fc2);
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	*/

	background: #000 url("../assets/bg.png") no-repeat top center;
    background-size: cover;	
}

pre {
	padding: 0 !important;
	word-break: break-word;
}